*{
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: blue;
}



body {
    background-color: var(--primary-color);
    overflow-x: hidden;
}

nav {
    padding: 10px 0 30px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

ul li a:hover {
    color: green;
}

nav .logo {
    padding: 0px 100px;
}

.logo i {
    height: 55px;
    width: 55px;
    background: transparent;
    border: 2px solid #2ecc71;
    color: #2ecc71;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

nav ul {
    margin-right: 50px;
}

nav ul li {
    display: inline-block;
    padding: 0px 25px;
}

.log{
    margin-left: 215px;
    padding: 5px;
    border: 1px solid red;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 30px;
}

.About {
    padding: 60px 155px;
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
}

.copy {
    padding: 5% 40%;
    color: var(--secondary-color);
}

.cans {
    display: none;
}

.menu-icon {
    font-size: 30px;
    color: #161616;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

#Tony {
    width: 50px;
    height: 55px;
    width: 55px;
    background: transparent;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

.gallery {
    width: 35%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;
}

.gallery img {
    width: 35%;
    margin-left: 55px;
}

#icon {
    width: 30px;
    cursor: pointer;
    margin-right: 100px;
}

@media  (max-width: 650px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    li {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
        color: blue;
    } 
    
    nav {
        padding: 10px 0 30px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        position: relative;
    }
    
    nav .logo {
        padding: 0px 30px;
    }
    
    .logo i {
        height: 55px;
        width: 55px;
        background: transparent;
        border: 2px solid #2ecc71;
        color: #2ecc71;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        cursor: pointer;
    }
    
    nav ul {
        margin-right: 50px;
        display:none;

        position: absolute;
        left: 71%;
        top:0%;
        width: 30%;
        background-color: rgba(0, 0, 0, 0.925);
        z-index: 10000;
        height: 100vh;
        padding: 20px;
        padding-top: 60px;
    }

    nav ul.menu {
        display: block;
        animation-name: animate;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        transition: all 1s;
    }

    @keyframes animate {
        from{
            left: 100%;
        }
        to{
            left: 67%;
        }
    }

    .cans {
        color: white;
        font-weight: 10;
        font-size: 30px;
        font-family: sans-serif;
        position: absolute;
        top: -1%;
        left: 5%;
        cursor: pointer;
        display: block;
    }


    
    nav ul li {
        display: block;
        padding: 60px 25px 30px 25px;
        text-align: center;
        transition: all 2s;
        border-bottom: 1px solid rgb(34, 33, 33);
        
    }
    

    nav ul li:nth-last-child(1){
        border: none;
    }

    nav ul li:nth-last-child(1):hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    
    ul li:hover {
        color: green;
        background-color: #161616;
    }
    
    .log{
      
        border: 1px solid red;
        background-color: green;
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
       margin-left: 0px;
    }

    .menu-icon {
        font-size: 30px;
        color: var(--secondary-color);
        cursor: pointer;
        z-index: 10000;
        display: block;
        margin-right: 40px;
        
    }

    .About {
        padding: 80px 20px;
        color:var(--secondary-color);
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .copy {
        padding: 0% 10%;
        color: var(--secondary-color);
        font-weight: bold;
        margin-left: -7%;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 5px;
        margin-bottom: 0%;
    }
    
    .gallery img {
        width: 45%;
        margin-left: 10px;
        margin-top: 0%;
        margin-bottom: 30%;
    }

    #icon {
        width: 30px;
        cursor: pointer;
        margin-left: 600px;
        position: fixed;
        bottom: 0;
    }
}

@media  (max-width: 450px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    li {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
        color: burlywood;
    }
     
    
    nav {
        padding: 10px 0 30px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        position: relative;
    }
    
    nav .logo {
        padding: 0px 5px;
    }
    
    .logo i {
        height: 55px;
        width: 55px;
        background: transparent;
        border: 2px solid #2ecc71;
        color: #2ecc71;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        cursor: pointer;
    }
    
    nav ul {
        margin-right: 50px;
        display:none;

        position: absolute;
        left: 50%;
        top:0%;
        width: 29%;
        background-color: rgba(0, 0, 0, 0.925);
        z-index: 10000;
        height: 100vh;
        padding: 10px;
        padding-top: 60px;
    }

    nav ul.menu {
        display: block;
        animation-name: animate;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        transition: all 1s;
    }

    @keyframes animate {
        from{
            left: 100%;
        }
        to{
            left: 71%;
        }
    }

    .cans {
        color: white;
        font-weight: 10;
        font-size: 30px;
        font-family: sans-serif;
        position: absolute;
        top: -1%;
        left: 5%;
        cursor: pointer;
        display: block;
    }


    
    nav ul li {
        display: block;
        padding: 70px 5px 30px 0px;
        text-align: center;
        transition: all 2s;
        border-bottom: 1px solid rgb(34, 33, 33);
        
    }
    

    nav ul li:nth-last-child(1){
        border: none;
    }

    nav ul li:nth-last-child(1):hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    
    ul li:hover {
        color: green;
        background-color: #161616;
    }

    .menu-icon {
        font-size: 30px;
        color: var(--secondary-color);
        cursor: pointer;
        z-index: 10001;
        display: block;
        margin-right: 10px;
        
    }

    .About {
        padding: 40px 0px;
        color: var(--secondary-color);
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .copy {
        padding: 2% 10%;
        color: var(--secondary-color);
        font-weight: bold;
    }

    .gallery {
        width: 35%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
        margin-bottom: 0%;
    }
    
    .gallery img {
        width: 85%;
        margin-left: 10px;
        margin-top: 0%;
        margin-bottom: 30%;
    }
}

@media  (max-width: 393px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    li {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
        color: burlywood;
    }
     
    
    nav {
        padding: 10px 0 30px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        position: relative;
    }
    
    nav .logo {
        padding: 0px 5px;
    }
    
    .logo i {
        height: 55px;
        width: 55px;
        background: transparent;
        border: 2px solid #2ecc71;
        color: #2ecc71;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        cursor: pointer;
    }
    
    nav ul {
        margin-right: 50px;
        display:none;

        position: absolute;
        left: 50%;
        top:0%;
        width: 29%;
        background-color: rgba(0, 0, 0, 0.925);
        z-index: 10000;
        height: 100vh;
        padding: 10px;
        padding-top: 60px;
    }

    nav ul.menu {
        display: block;
        animation-name: animate;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        transition: all 1s;
    }

    @keyframes animate {
        from{
            left: 100%;
        }
        to{
            left: 58%;
        }
    }

    .cans {
        color: white;
        font-weight: 10;
        font-size: 30px;
        font-family: sans-serif;
        position: absolute;
        top: -1%;
        left: 5%;
        cursor: pointer;
        display: block;
    }


    
    nav ul li {
        display: block;
        padding: 70px 5px 30px 0px;
        text-align: center;
        transition: all 2s;
        border-bottom: 1px solid rgb(34, 33, 33);
        
    }
    

    nav ul li:nth-last-child(1){
        border: none;
    }

    nav ul li:nth-last-child(1):hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    
    ul li:hover {
        color: green;
        background-color: #161616;
    }

    .menu-icon {
        font-size: 30px;
        color: var(--secondary-color);
        cursor: pointer;
        z-index: 10000;
        display: block;
        margin-right: 10px;
        
    }

    .About {
        padding: 40px 0px;
        color: var(--secondary-color);
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .copy {
        padding: 2% 10%;
        color: var(--secondary-color);
        font-weight: bold;
    }

    .gallery {
        width: 35%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
        margin-bottom: 0%;
    }
    
    .gallery img {
        width: 85%;
        margin-left: 10px;
        margin-top: 0%;
        margin-bottom: 30%;
    }

    #icon {
        width: 30px;
        cursor: pointer;
        margin-left: 300px;
        position: fixed;
        margin-bottom: 30px;
    }
}

@media   (max-width: 280px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    li {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
        color: green;
    }
     
    
    nav {
        padding: 10px 0 30px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        position: relative;
    }
    
    nav .logo {
        padding: 0px 5px;
    }
    
    #Tony {
        width: 50px;
        height: 55px;
        width: 55px;
        background: transparent;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        cursor: pointer;
    }
    
    nav ul {
        margin-right: 50px;
        display:none;

        position: absolute;
        left: 50%;
        top:0%;
        width: 39%;
        background-color: rgba(0, 0, 0, 0.925);
        z-index: 10000;
        height: 100vh;
        padding: 10px;
        padding-top: 50px;
    }

    nav ul.menu {
        display: block;
        animation-name: animate;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        transition: all 1s;
    }

    @keyframes animate {
        from{
            left: 100%;
        }
        to{
            left: 41%;
        }
    }

    .cans {
        color: white;
        font-weight: 10;
        font-size: 30px;
        font-family: sans-serif;
        position: absolute;
        top: -1%;
        left: 5%;
        cursor: pointer;
        display: block;
    }


    
    nav ul li {
        display: block;
        padding: 60px 5px 30px 0px;
        text-align: center;
        transition: all 2s;
        border-bottom: 1px solid rgb(34, 33, 33);
        
    }
    

    nav ul li:nth-last-child(1){
        border: none;
        padding-right: 5px;
    }

    nav ul li:nth-last-child(1):hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    
    ul li:hover {
        color: green;
        background-color: #161616;
    }

    .menu-icon {
        font-size: 30px;
        color:var(--secondary-color);
        cursor: pointer;
        z-index: 1000;
        display: block;
        margin-left: 20px
        
    }

    .log a {
        color: white;
    }

    .log{
      
        border: 1px solid red;
        background-color: green;
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        margin-right: 10px;
    }
    
    
    body{
        background-color: var(--primary-color);
        overflow-y: hidden;
    }

    .dark-theme {
        --primary-color: #000106;
        --secondary-color: #fff;
    }
    
    .Section {
        margin: 1%;
    }
    
    .Home{
        margin: 0px;
        padding: 5px;
        margin-top: 190px;
    }
    
    .name {
        line-height: 150%;
        font-size: 30px;
        font-weight: bold;
        padding: 5px;
        z-index: 1000;
    }
    
    span {
        color: blue;
    }
    
    .social{
        padding: 8px;
    }
    
    .social a{
        width: 37px;
        height: 37px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        font-size: 17px;
        color:var(--secondary-color);
        cursor: pointer;
        margin-right: 9px;
        transition: all .30s;
    }
    
    .social a:hover {
        transform: translateY(-3px);
        color: #ef0454;
    }
    
    h1 {
        font-size: 30px;
    }
    
    .write {
        padding: 5px;
        line-height: 120%;
        font-size: 15px;
    }
    
    .able {
        margin-left: 10px;
        margin-top: 0px;
        border: 1px solid green;
        border: none;
        background-color: green;
        width: 35%;
        padding: 10px;
        border-radius: 5px;
        height: 10%;
    }
    
    .Cvlink {
        color: white;
    }
    
    .popup {
       
        transform: translate(-50%, -50%) scale(0.1);
        visibility: hidden;
    
    }
    
    .open-popup{
        top: 47%;
        left: 50%;
        position: absolute;
        visibility: visible;
        z-index: 1000;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    
    .container {
        width: 22em;
        height: 30em;
        position: relative;
        border-radius: 1em;
        box-shadow: 0.0.188em 1.550em rgb(58, 8, 139);
        padding: 0px 40px 40px 40px;
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: black;
    }
    
    .promo {
        font-size: 20px;
    }
    
    .container .promo h1 {
        margin-bottom: 50px;
        padding-left: 10%;
        padding-top: 5px;
        color: white;
    }
    
    .container .promo input {
        display: flex;
        margin-left: 5px;
        width: 12.3em;
        height: 35px;
        margin: 5px;
    }
    
    
    .inputs {
        display: flex;
    }
    
    #detail {
        width: 340px;
        height: 250px;
    }
    
    .Sen {
        margin-right: 258px; 
        width: 80px;
        height: 35px;
        border-radius: 5px;
        background-color: green;
        cursor: pointer;
        color: white;
    }

    .profilepic {
        display: grid;
    }

    #pic {
        width: 64%; 
        height: 33.5%;
        margin-left: 55px;
        position: absolute;
        top: -20%;
        border-radius: 30%;
        margin-top: 200px;
    }
    
    #icon {
        width: 30px;
        cursor: pointer;
        margin-left: 230px;
        margin-top: 600px;
        position: absolute;
    }
}
