@media   (max-width: 450px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    li {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
        color: green;
    }
     
    
    nav {
        padding: 10px 0 30px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        position: relative;
    }
    
    nav .logo {
        padding: 0px 5px;
    }
    
    .logo i {
        height: 55px;
        width: 55px;
        background: transparent;
        border: 2px solid #2ecc71;
        color: #2ecc71;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        cursor: pointer;
    }
    
    nav ul {
        margin-right: 50px;
        display:none;

        position: absolute;
        left: 50%;
        top:0%;
        width: 39%;
        background-color: rgba(0, 0, 0, 0.925);
        z-index: 10000;
        height: 100vh;
        padding: 10px;
        padding-top: 50px;
    }

    nav ul.menu {
        display: block;
        animation-name: animate;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        transition: all 1s;
    }

    @keyframes animate {
        from{
            left: 100%;
        }
        to{
            left: 51%;
        }
    }

    .cans {
        color: white;
        font-weight: 10;
        font-size: 30px;
        font-family: sans-serif;
        position: absolute;
        top: -1%;
        left: 5%;
        cursor: pointer;
        display: block;
    }


    
    nav ul li {
        display: block;
        padding: 60px 5px 30px 0px;
        text-align: center;
        transition: all 2s;
        border-bottom: 1px solid rgb(34, 33, 33);
        
    }
    
    nav ul li:nth-last-child(1){
        border: none;
        padding-right: 5px;
    }

    nav ul li:nth-last-child(1):hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    
    ul li:hover {
        color: green;
        background-color: #161616;
    }

    .menu-icon {
        font-size: 30px;
        color: var(--secondary-color);
        cursor: pointer;
        z-index: 1000;
        display: block;
        margin-left: 210px;
        
    }

    .log{
      
        border: 1px solid red;
        background-color: green;
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        margin-left: 0px;
    }
    
    
    body{
        background-color: var(--primary-color);
    }

    .dark-theme {
        --primary-color: #000106;
        --secondary-color: #fff;
    }

    #icon {
        width: 30px;
        cursor: pointer;
        margin-left: 300px;
        top: 0;
        margin-top: 680px;
        margin-left: 350px;
    }
    
    .Section {
        margin: 1%;
    }
    
    .Home{
        margin: 5px;
        padding: 5px;
        margin-top: 245px;
    }
    
    .name {
        line-height: 150%;
        font-size: 30px;
        font-weight: bold;
        padding: 5px;
        z-index: 1000;
    }
    
    span {
        color: blue;
    }
    
    .social{
        padding: 8px;
    }
    
    .social a{
        width: 37px;
        height: 37px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        font-size: 17px;
        color: var(--secondary-color);
        cursor: pointer;
        margin-right: 10px;
        transition: all .30s;
    }
    
    .social a:hover {
        transform: translateY(-3px);
        color: #ef0454;
    }
    
    h1 {
        font-size: 30px;
    }
    
    .write {
        padding: 5px;
        line-height: 120%;
        font-size: 15px;
    }
    
    .able {
        margin-left: 12px;
        margin-top: 0px;
        border: 1px solid green;
        border: none;
        background-color: green;
        width: 23.8%;
        padding: 10px;
        border-radius: 5px;
        height: 12%;
    }
    
    .Cvlink {
        color: white;
    }

    .profilepic {
        width: 50%;
        height: 0%;
    }
    
    #pic {
        width: 84%; 
        height: 55%;
        margin-left: 65px;
        position: absolute;
        top: -20%;
        border-radius: 30%;
        margin-top: 140px;
    }

    /*.section span{
        position: absolute;
        background: transparent;
        border-radius: 50%;
        pointer-events: none;
        box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
        animation: buble 4s linear infinite;
    }
    
    @keyframes buble{
        0%{
            transform: translateY(0%);
            opacity: 1;
            
        }
    
        100%{
            transform: translateY(-1200px);
            
        }
    }*/
}